ACTION=="add", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="303a", ENV{ID_MODEL_ID}=="1001", ENV{ID_SERIAL_SHORT}=="90:E5:B1:D1:C0:F8", RUN+="/usr/local/libexec/needle-pi-serial-device add flash %M %m"
ACTION=="remove", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="303a", ENV{ID_MODEL_ID}=="1001", ENV{ID_SERIAL_SHORT}=="90:E5:B1:D1:C0:F8", RUN+="/usr/local/libexec/needle-pi-serial-device remove flash %M %m"
ACTION=="add", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="55d3", ENV{ID_SERIAL_SHORT}=="5B91041931", RUN+="/usr/local/libexec/needle-pi-serial-device add console %M %m"
ACTION=="remove", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="55d3", ENV{ID_SERIAL_SHORT}=="5B91041931", RUN+="/usr/local/libexec/needle-pi-serial-device remove console %M %m"
ACTION=="add", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="303a", ENV{ID_MODEL_ID}=="1001", ENV{ID_SERIAL_SHORT}=="90:E5:B1:D1:BE:B8", RUN+="/usr/local/libexec/needle-pi-serial-device add board2-flash %M %m"
ACTION=="remove", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="303a", ENV{ID_MODEL_ID}=="1001", ENV{ID_SERIAL_SHORT}=="90:E5:B1:D1:BE:B8", RUN+="/usr/local/libexec/needle-pi-serial-device remove board2-flash %M %m"
ACTION=="add", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="55d3", ENV{ID_SERIAL_SHORT}=="5B91041804", RUN+="/usr/local/libexec/needle-pi-serial-device add board2-console %M %m"
ACTION=="remove", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="55d3", ENV{ID_SERIAL_SHORT}=="5B91041804", RUN+="/usr/local/libexec/needle-pi-serial-device remove board2-console %M %m"
ACTION=="add", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="303a", ENV{ID_MODEL_ID}=="1001", ENV{ID_SERIAL_SHORT}=="90:E5:B1:D1:C1:C8", RUN+="/usr/local/libexec/needle-pi-serial-device add board3-flash %M %m"
ACTION=="remove", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="303a", ENV{ID_MODEL_ID}=="1001", ENV{ID_SERIAL_SHORT}=="90:E5:B1:D1:C1:C8", RUN+="/usr/local/libexec/needle-pi-serial-device remove board3-flash %M %m"
ACTION=="add", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="55d3", ENV{ID_SERIAL_SHORT}=="5B91042020", RUN+="/usr/local/libexec/needle-pi-serial-device add board3-console %M %m"
ACTION=="remove", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="55d3", ENV{ID_SERIAL_SHORT}=="5B91042020", RUN+="/usr/local/libexec/needle-pi-serial-device remove board3-console %M %m"
